
{% extends "frontend/layouts/base.html" %}
{% load static %}
{% block title %} Home

{% endblock title %}

{% block base_content %} 


<main id="main">
    <!-- ======= Hero Slider Section ======= -->
    {% include "partials/slider.html" with sliders=sliders %}
    <!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
          <div class="row g-5">
            <div class="col-lg-4">
              <div class="post-entry-1 lg">
                <a href="{% url 'frontend:single' first_post.slug %}"><img src="{{ first_post.image.url }}" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">{{ first_post.category.title }}</span> <span class="mx-1">&bullet;</span> <span>{{ first_post.created_at }}</span></div>
                <h2><a href="{% url 'frontend:single' first_post.slug %}">{{ first_post.title }}</a></h2>
                <p class="mb-4 d-block">{{ first_post.description | safe }}</p>
  
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{% static 'frontend/assets/img/person-1.jpg' %}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Cameron Williamson</h3>
                  </div>
                </div>
              </div>
  
            </div>
  
            <div class="col-lg-8">
              <div class="row g-5">
                <div class="col-lg-4 border-start custom-border">
                  {% for post in latest_posts %}
                    {% include "partials/post.html" with post=post%}
                  {% endfor %}
                </div>
                <div class="col-lg-4 border-start custom-border">
                  {% for post in latest_posts_more %}
                    {% include "partials/post.html" with post=post%}
                  {% endfor %}
                </div>
  
                <!-- Trending Section -->
                <div class="col-lg-4">
  
                  <div class="trending">
                    <h3>Trending</h3>
                    <ul class="trending-post">
                      {% for post in  trending_posts%}
                      <li>
                        <a href="{% url 'frontend:single' post.slug %}">
                          <span class="number">{{ forloop.counter }}</span>
                          <h3>{{ post.title }}</h3>
                          <span class="author">Jane Cooper</span>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
  
                </div> <!-- End Trending Section -->
              </div>
            </div>
  
          </div> <!-- End .row -->
        </div>
      </section> 
      <!-- End Post Grid Section -->
  
      <!-- ======= Second Category Section ======= -->
      <section class="category-section">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>{{ second_section.title | title }}</h2>
            <div><a href="category.html" class="more">See All {{ second_section.title | title }}</a></div>
          </div>
  
          <div class="row">
            <div class="col-md-9">
  
              <div class="d-lg-flex post-entry-2">
                <a href="{% url 'frontend:single' second_top_post.slug %}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                  <img src="{{ second_middle_post.image.url }}" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">{{ second_top_post.category.title }}</span> <span class="mx-1">&bullet;</span> <span>{{ second_top_post.created_at }}</span></div>
                  <h3><a href="{% url 'frontend:single' second_top_post.slug %}">{{ second_top_post }}</a></h3>
                  <p>{{ second_top_post.description |slice:"150" }}</p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="{% static 'frontend/assets/img/person-2.jpg' %}" alt="" class="img-fluid"></div>
                    <div class="name">
                      <h3 class="m-0 p-0">Wade Warren</h3>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-lg-4">
                  <div class="post-entry-1 border-bottom">
                    <a href="{% url 'frontend:single' second_middle_post.slug %}"><img src="{{ second_middle_post.image.url }}" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{ second_middle_post.category.title }}</span> <span class="mx-1">&bullet;</span> <span>{{ second_middle_post.created_at }}</span></div>
                    <h2 class="mb-2"><a href="{% url 'frontend:single' second_middle_post.slug %}">{{ second_middle_post.title }}</a></h2>
                    <span class="author mb-3 d-block">Jenny Wilson</span>
                    <p class="mb-4 d-block">{{ second_middle_post.description | slice:"100" }}</p>
                  </div>
  
                  <div class="post-entry-1">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="single-post.html">5 Great Startup Tips for Female Founders</a></h2>
                    <span class="author mb-3 d-block">Jenny Wilson</span>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="post-entry-1">
                    <a href="single-post.html"><img src="{{ second_side_post.image.url }}" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{ second_side_post.category.title }}</span> <span class="mx-1">&bullet;</span> <span>{{ second_side_post.created_at }}</span></div>
                    <h2 class="mb-2"><a href="single-post.html">{{ second_side_post.title }}</a></h2>
                    <span class="author mb-3 d-block">Jenny Wilson</span>
                    <p class="mb-4 d-block">{{ second_side_post.description |safe|slice:"100" }}</p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-3">
              {% for post in second_section_posts|slice:"6" %}
                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">{{ post.category.title }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.created_at }}</span></div>
                  <h2 class="mb-2"><a href="  {% url 'frontend:single' post.slug %}">{{ post.title }}</a><h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </section>
      <!-- End Culture Category Section -->
  

  </main><!-- End #main -->


{% endblock base_content %}